:root {
    --primary-color: #000000;
    /* Change this to your primary color */
    --secondary-color: #ffffff;
    /* Change this to your secondary color */
}

.navbar-toggler {
    margin-right: 10px;
}

.home-stay-title {
    font-size: 1.5rem;
    /* margin-top: 10px; */
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-family: Trebuchet MS, sans-seri;

}

.home-stay-name {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}


.check-in-check-out-date {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 10px auto;
    /* Auto margin for centering horizontally */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}


#Main-button-details {
    /* margin: auto; */
    border: 1px solid var(--secondary-color);
    /* padding: 0px 40px; */
    display: grid;
    place-content: center;

    min-height: 55px;
    width: 100%;
    /* margin-top: 23px; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    /* text-align: center; */
}

.container-social {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.bi-whatsapp:hover {
    color: #128c7e;
    cursor: pointer;
    transition-duration: .5s;

}

.bi-facebook:hover {
    color: #316FF6;
    cursor: pointer;
    transition-duration: .5s;

}

.bi-instagram:hover {
    color: #E1306C;
    cursor: pointer;
    transition-duration: .5s;

}

.bi-envelope:hover {
    color: rgb(154, 154, 154);
    cursor: pointer;
    transition-duration: .5s;

}

.bi-twitter-x:hover {
    color: #1DA1F2;
    cursor: pointer;
    transition-duration: .5s;

}

.bg-about-image {
    width: 100%;
    border-radius: 15px;
    /* height: 60vh; */
}

.bg-image {
    border-radius: 10px;
    width: 90%;
    max-height:90%;
    /* margin-top: 2px;; */
    margin: auto;
    display: block;
    object-fit: cover;
    filter: blur(.5px);
}

.container-about {
/* background-color: #aaa; */
}

.container-contact {
    /* margin: 0rem 20px; */
}

.container-w-t-p-h {
    background-color: aquamarine;
    /* padding: 10px; */
    margin: 10px 20px;
    display: grid;
    place-content: center;
    border-radius: 20px;
}

.bi-hand-thumbs-down:hover {
    /* background-color: red; */
    color: red;
    cursor: pointer;
}

.bi-hand-thumbs-up:hover {
    /* background-color: red; */
    color: green;
    cursor: pointer;
}

.headings {
    font-weight: 600;
    font-size: 30px;
    /* padding-bottom: 2rem; */
    font-family: Trebuchet MS, sans-seri;
    z-index: 99999;
}

.sub-heading {
    font-weight: 600;
    font-size: 18px;
    /* text-align: left; */
    /* padding-bottom: 2rem; */
    font-family: Trebuchet MS, sans-seri;
}


.top-destination {
    background-color: #ffffff;
}

.container-city {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container-w-w-u {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.city-img {
    position: relative;
    height: 18vh;
    width: 30vh;
    border-radius: 10px;
    overflow: hidden;
}

.city-img-background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: filter 0.5s ease;
    /* Smooth transition effect */
    filter: none;
}

.city-img:hover .city-img-background {
    filter: blur(2px);
    /* Remove blur effect on hover */
}

.image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}



#Child_form {
    margin-top: 15%;
    /* width: 70%; */

}

.react-daterange-picker__wrapper {
    padding: 13px;

    padding-left: 1.5rem;
    border-radius: .5rem;
    background-color: #ffffff;
    border: none !important;
}



@media only screen and (max-width: 765px) {
    #Child_form {
        margin-top: 10%;
        width: 100%;

    }

    .Room_div {
        margin-top: 31px;
    }

    .Room_div {
        height: auto;
    }

    #Landing_form_container {
        /* padding: 20px; */
        height: 61vh;
        /* z-index: ; */
        z-index: 9999;
    }

    #Child_form {
        margin-top: 15%;
        width: 100%;

    }

    #Main-button-details {
        /* width: 100%; */
        border: 1px solid var(--secondary-color);
        padding: 0px;
        margin-top: 23px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        /* text-align: center; */
    }

    .Main_title h1 {
        margin-top: 25px;
        font-family: Trebuchet MS, sans-seri;
        color: #ffffff;
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: 600;
        text-shadow: 1px 2px 17px rgb(99, 99, 99), 5px 4px 20px rgba(0, 0, 0, 1);
    }
}

/* For desktop only */
@media only screen and (min-width: 765px) {
    .Landing-width-adjustment {
        max-width: 1200px;
        margin: auto;
    }

    .Room_div {
        margin-top: 80px;
    }

    .nav-form {
        border-right: 1px solid rgb(215, 215, 215);
        height: 90vh;
        padding: 20px 0px;
    }

    .Room_div {
        height: 100vh;
    }





    .nav-form-parent {
        position: -webkit-sticky;
        position: sticky;
        height: 90vh;
        top: 10%;
        border-radius: 15px;
        margin: 20px 0px;
        /* Define the top position once */
        left: 0;
        /* Added a unit */
        /* width: 20rem; */
        border: 2px solid rgb(233, 233, 233);
        ;
    }

    .Main_title h1 {
        font-family: Trebuchet MS, sans-seri;
        color: #ffffff;
        cursor: pointer;
        margin-bottom: 20px;
        font-size: 2.5rem;
        font-weight: 600;
        text-shadow: 1px 2px 17px rgb(99, 99, 99), 5px 4px 20px rgba(0, 0, 0, 1);
    }
}




#homestay {

    color: #000000;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
}

.Notify-div {
    margin-top: 5rem;
    width: 100%;
}

/* CHAT  */
.gif-img-div {
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-chat {
    background-color: none;
    transform: scaleX(-1);
    height: 200%;
    width: 200%;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.chat-main-outline {
    margin-right: -3rem;
    cursor: pointer;
    position: fixed;
    top: 70%;
    right: 0;
    z-index: 9999;
    transition: margin-right 0.5s ease;
}

.chat-main-outline:hover {
    margin-right: 0rem;
}